<div id="passkey-list"></div>
<script type="module">
  import { loadCorbadoProject } from "./corbadoSetup.js";

  const initializePasskeyList = async () => {
    await loadCorbadoProject();

    const passkeyListElement = document.getElementById("passkey-list");
    if (Corbado.user) {
      Corbado.mountPasskeyListUI(passkeyListElement);
    }
  };

  initializePasskeyList();
</script>
